* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #fff;
}

.piano-container {
    width: 36rem;
    border-radius: 20px;
    padding: 35px 40px;
    background: black;
}

.piano-keys {
    display: flex;
    margin-top: 40px;

}

.piano-keys .key {
    cursor: pointer;
    user-select: none;
    list-style: none;
    color: #a2a2A2;
    position: relative;
}

.piano-keys .white {
    width: 70px;
    height: 230px;
    border-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(#fff 96%, #eee 4%);

}

.piano-keys .white:active {
    box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #fff, #eee);
}

.piano-keys .black {
    width: 44px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000);

}

.piano-keys .black:active {
    box-shadow: inset -5px 5px 10px rgba(225, 225, 225, 0.1);
    background: linear-gradient(to bottom, #000, #434343);
}