footer {
    background-color: var(--quartiary-color);
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
}

footer img {
    width: 25px;
}

#img-logo {
    width: 80px;
}