footer {
    background-color: var(--quartiary-color);
    width:100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.icons-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}

footer img {
    width: var(--footer-icons-size);
    

}

#img-logo {
    width: var(--logo-size);

    margin-left: 6rem;
}
.btn-logo{
    background-color: var(--opacity-null);
    width: var(--logo-size);
    
}