.main-guitar {
  width: 100%;
  height: 55rem;
  background-color: var(--primary-color);
}

.section-1-guitar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1-guitar {
  font-family: var(--title-font);
  font-size: var(--h1-size);
  color: var(--terciary-color);
  margin-top: 6rem;
  margin-bottom: 2rem;
}


.h2-guitar {
  font-family: var(--title-font);
  font-size: var(--h2-size);
  color: var(--terciary-color);
  margin-bottom: 2rem;
}

.p-guitar {
  font-family: var(--text-font);
  font-size: var(--text-size);
  color: var(--terciary-color);
  margin-bottom: 2rem;
}

.container-1-guitar{
    display: flex;
    align-items: center;
    width: 36rem;
    height: 20rem;
    background-color: var(--secondary-color);
    position:relative;
    border-radius: 1rem;
    
}
.cont-hole-neck{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.hole{
    width: 18rem;
    left: 3rem;
    position: absolute;
    height: 18rem;
    border: 2rem solid var(--terciary-color);
    border-radius: 50%;
    background: var(--primary-color);

}
.neck{
  width: 26rem;
  max-width: 478px;
  height: 8.5rem;
  background: var(--primary-color);
  position: absolute;
  align-self: center;
  left: 10rem;

}
.guitar-strings{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  
}
.string {
    background-color: gray;
    width: 36rem;
    max-width: 578px;
    
    
}
.guitar-strings .string.active{
  box-shadow: inset -5px -10px 10px rgb(255, 255, 255);
  background: linear-gradient(to bottom, #000, #434343);
}


.str-1 {
    height: 9px;
  }

.str-2 {
    height: 8px;
  }

.str-3 {
    height: 7px;
  }

.str-4 {
    height: 6px;
  }

.str-5 {
    height: 5px;
  }

  .str-6 {
    height: 4px;
  }


  @media (max-width: 600px) and (orientation: landscape){
    }
    .h1-guitar, .h2-guitar, .p-guitar{
      display:none;
    }
    .container-1-guitar{
      width: 36rem;
      height: 20rem;     
  }

  .hole{
      width: 18rem;
      left: 3rem;
      
      height: 18rem;
      
  
  }
  .neck{
    width: 26rem;
    max-width: 478px;
    height: 8.5rem;
    
    left: 10rem;
  
  }
 
    
    
    
  
  .string {
 
      width: 36rem;
      max-width: 578px;
      
      
  }
 
  
  
  .str-1 {
      height: 9px;
    }
  
  .str-2 {
      height: 8px;
    }
  
  .str-3 {
      height: 7px;
    }
  
  .str-4 {
      height: 6px;
    }
  
  .str-5 {
      height: 5px;
    }
  
    .str-6 {
      height: 4px;
    }
  
  