
.main-handpan {
    width: 100%;
    height: 55rem;
    overflow-x:hidden ;
    background-color: var(--primary-color);
  }
  
  .section-1-handpan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .h1-handpan {
    font-family: var(--title-font);
    font-size: var(--h1-size);
    color: var(--terciary-color);
    margin-top: 6rem;
    margin-bottom: 2rem;
  }
  
  
  .h2-handpan {
    font-family: var(--title-font);
    font-size: var(--h2-size);
    color: var(--terciary-color);
    margin-bottom: 2rem;
  }
  
  .p-handpan {
    font-family: var(--text-font);
    font-size: var(--text-size);
    color: var(--terciary-color);
    margin-bottom: 2rem;
  }

/*HANDPAN*/
.container-1-handpan {
    border-radius: 1rem;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0.2rem 8rem 0.2rem 8rem;
  }
.handpan-dimple circle, 
.handpan-dimple ellipse{
    fill: var(--secondary-color);
    stroke: black;
    stroke-width:2;
}