@import "css\base.css";
html {
    box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    }

    :root {
        --black: black;
        --orange: #D99923;
        --white: #FCEDE0;
        --background-black: #161515;
    }